BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 4
UseTab: Never

AccessModifierOffset: -4
AlignConsecutiveMacros: AcrossComments
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Allman
BreakStringLiterals: false
InsertNewlineAtEOF: true
PointerAlignment: Left
SpaceBeforeRangeBasedForLoopColon: false
