[submodule "thirdparty/raylib"]
	path = thirdparty/raylib
	url = https://github.com/raysan5/raylib
[submodule "thirdparty/rlImGui"]
	path = thirdparty/rlImGui
	url = https://github.com/raylib-extras/rlImGui
[submodule "thirdparty/curl"]
	path = thirdparty/curl
	url = https://github.com/curl/curl
[submodule "thirdparty/libxlsxwriter"]
	path = thirdparty/libxlsxwriter
	url = https://github.com/jmcnamara/libxlsxwriter
[submodule "thirdparty/libpsl"]
	path = thirdparty/libpsl
	url = https://github.com/rockdaboot/libpsl
[submodule "thirdparty/libzip"]
	path = thirdparty/libzip
	url = https://github.com/nih-at/libzip
[submodule "thirdparty/mbedtls"]
	path = thirdparty/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = https://github.com/madler/zlib
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "thirdparty/utfcpp"]
	path = thirdparty/utfcpp
	url = https://github.com/nemtrif/utfcpp
[submodule "thirdparty/zstd"]
	path = thirdparty/zstd
	url = https://github.com/facebook/zstd.git
